name: Manual Build Test App

on:
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-2019
    steps:
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Checkout openblock-ee-blocks
        uses: actions/checkout@v2
        with:
          repository: openblockee/openblock-ee-blocks
          ref: refs/heads/main
          token: ${{ secrets.GH_TOKEN }}
          path: openblock-blocks

      - uses: actions/setup-python@v2
        with:
          python-version: '2.x'
          architecture: 'x64'

      - run: |
          cd openblock-blocks
          npm ci
          npm link

      - name: Checkout openblock-ee-vm
        uses: actions/checkout@v2
        with:
          repository: openblockee/openblock-ee-vm
          ref: refs/heads/main
          token: ${{ secrets.GH_TOKEN }}
          path: openblock-vm

      - run: |
          cd openblock-vm
          npm ci
          npm link

      - name: Checkout openblock-ee-link
        uses: actions/checkout@v2
        with:
          repository: openblockee/openblock-ee-link
          ref: refs/heads/main
          token: ${{ secrets.GH_TOKEN }}
          path: openblock-link

      - run: |
          cd openblock-link
          npm ci
          npm link

      - name: Checkout openblock-ee-gui
        uses: actions/checkout@v2
        with:
          repository: openblockee/openblock-ee-gui
          ref: refs/heads/desktop
          token: ${{ secrets.GH_TOKEN }}
          path: openblock-gui

      - run: |
          cd openblock-gui
          npm ci
          npm link
          npm link openblock-vm openblock-blocks

      - name: Checkout openblock-ee-desktop
        uses: actions/checkout@v2
        with:
          path: openblock-desktop

      - run: |
          cd openblock-desktop
          npm ci
          npm link openblock-vm openblock-link openblock-gui openblock-blocks

      - name: Build Dist
        env:
          GA_ID: ${{ secrets.GA_ID }}
          NODE_ENV: production
          NODE_OPTIONS: --max_old_space_size=4096
        run: |
          cd openblock-desktop
          npm run dist

      - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        with:
          name: OpenBlock-Desktop-EE.exe
          path: openblock-desktop/dist/OpenBlock-Desktop-EE_*.exe
          retention-days: 1

  build-mac:
    runs-on: macos-latest
    steps:
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Checkout openblock-ee-blocks
        uses: actions/checkout@v2
        with:
          repository: openblockee/openblock-ee-blocks
          ref: refs/heads/main
          token: ${{ secrets.GH_TOKEN }}
          path: openblock-blocks

      - run: |
          cd openblock-blocks
          npm ci
          npm link

      - name: Checkout openblock-ee-vm
        uses: actions/checkout@v2
        with:
          repository: openblockee/openblock-ee-vm
          ref: refs/heads/main
          token: ${{ secrets.GH_TOKEN }}
          path: openblock-vm

      - run: |
          cd openblock-vm
          npm ci
          npm link

      - name: Checkout openblock-ee-link
        uses: actions/checkout@v2
        with:
          repository: openblockee/openblock-ee-link
          ref: refs/heads/main
          token: ${{ secrets.GH_TOKEN }}
          path: openblock-link

      - run: |
          cd openblock-link
          npm i
          npm link

      - name: Checkout openblock-ee-gui
        uses: actions/checkout@v2
        with:
          repository: openblockee/openblock-ee-gui
          ref: refs/heads/desktop
          token: ${{ secrets.GH_TOKEN }}
          path: openblock-gui

      - run: |
          cd openblock-gui
          npm ci
          npm link
          npm link openblock-vm openblock-blocks

      - name: Checkout openblock-ee-desktop
        uses: actions/checkout@v2
        with:
          path: openblock-desktop

      - run: |
          cd openblock-desktop
          npm ci
          npm link openblock-vm openblock-link openblock-gui openblock-blocks

      - name: Build Dist
        env:
          GA_ID: ${{ secrets.GA_ID }}
          NODE_ENV: production
          NODE_OPTIONS: --max_old_space_size=4096
        run: |
          cd openblock-desktop
          npm run dist

      - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        with:
          name: OpenBlock-Desktop-EE.dmg
          path: openblock-desktop/dist/OpenBlock-Desktop-EE_*.dmg
          retention-days: 1
